body{

}
#hamIcon{
    display: none;
    height: 30px;
    width: 30px;
    margin-left: 20px;
}#hamIcon:hover{
 cursor: pointer;
 }

#hamburger{
    position: absolute;
    padding: 12px;
    height: 200px;
    width: 100%;
    display: none;
    background-color: rgba(255,255,255,0.85);
    top: 190px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
}

.hbDiv{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}.hbDiv:hover{
     background-color: rgba(0,0,0,0.2);
 }
#hbBtnCake {
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 4px;
}

#hbBtnSpecial{
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 4px;
}
#hbBtnHand{
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 4px;
}
#hbBtnContact{
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 4px;
}

.Container{

    border: 1px solid black;
    margin: auto;
    height: 1625px;
    max-width: 1300px;
    background-color: #fff;
}
.PieHeader{
    z-index:10;

    background-color: #CC3F2B;
    height: 80px;
}
.HWhiteBanner{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #fff;
}
.HBrandImg{

    margin-left: 8vh;
    height: 42px;
}
.HBtnAnyCake{
    font-family: "Noto Sans TC";
    font-weight: 500;
    font-size: 15px;
}
.HBtnSpecialEvents{
    font-family: "Noto Sans TC";
    font-weight: 500;
    font-size: 15px;
}
.HBtnHandGift{
    font-family: "Noto Sans TC";
    font-weight: 500;
    font-size: 15px;
}
.HBtnContactUs{
    font-family: "Noto Sans TC";
    font-weight: 500;
    font-size: 15px;
}
.HBtnGroup{

    font-family: "Noto Sans TC";
    font-weight: 500;
    font-size: 14px;
    margin-right: 8vh;
    height: 60px;
    width: 520px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#HBtnLogIn{
    margin-left: 36px;
    height: 30px;
    clip-path: circle(15px at center);
}

#HBtnShoppingCart{
    height: 32px;
}

.Pie{

}

.PBigImgSection{

}

.PBigImg{

    object-fit: cover;
    height: 320px;
    width: 100%;
}

.PBigImgPanel{

    display: flex;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 1300px;
    width: 100%;
    height: 300px;
}

.PBigImgPanelText{

    font-family: "Advent Pro";
    font-size: 48px;
    font-weight: 600;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 800px;
    height: 200px;
    background-color: #000;

    display: flex;
}

.PBigImgPanelContent{

    margin: auto;
    font-family: "Advent Pro";
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 4px;
}

.PFindMyPieSection{
    height: 150px;
display: flex;
    justify-content: center;
    align-items: center;
}
.PFindMiddle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PFindL{
    padding-right: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.PFindR{
    padding-left: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.PFindMyPieText{
    margin-bottom: 3px;
    font-family: Noto Sans TC;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 6px;
    margin-bottom: 8px;
    transition-duration: 200ms;

}.PFindMyPieText:hover{
    font-size: 24px;
     cursor: pointer;

    color: #CC3F2B;
 }
.PFindMyPieSmallText{
    font-family: Noto Sans TC;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 4px;
}
.PFindMyPieArrow{

}
.HRPFindMyPie{
    width: 200px;
}
.PTopSellerSection{
    height: 420px;
}
.PTopSellerUpper{

    height: 40px;
    display: flex;
    justify-content: space-between;
}
.PTopSellerLeftBar{

    height: 40px;
    display: flex;
    border: 1px solid black;
    width: 35%;
}
.PTopSellerRightBar{

    height: 40px;
    display: flex;
    background-color: #eee;
    width: 60%;
}
.PTopSellerText{

    color: #CC3F2B;
    margin: auto;
    font-family: "Advent Pro";
    font-weight: bold;
    font-size: 22px;

}
.PTopSellerRText{
    color: #CC3F2B;
    margin: auto;
    font-family: "Advent Pro";
    font-weight: bold;
    font-size: 22px;
}

.PTopSellerLower{
    height: 400px;

    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}
.PTopSellerImgL{
    display: flex;
    height: 400px;
    width: 35%;
}
.PTopSellerImgR{
    display: flex;
    height: 400px;
    width: 60%;
}

.PTopSellerLowerImgs{
    display: flex;
    justify-content: space-between;
}
.PTopSellerS1{
    height: 260px;
    width: 260px;
    object-fit: cover;
    margin: auto;

}
.PFeature1{
    height: 260px;
    width: 260px;
    object-fit: cover;
    margin: auto;
}
.PFeature2{
    height: 260px;
    width: 260px;
    object-fit: cover;
    margin: auto;
}
.HRPTopSeller{
    margin-top: 24px;
    width: 75%;
}
.PStory{

    margin-top: 64px;
    margin-bottom: 38px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PStoryText{


    margin-right : 64px;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;

    flex-direction: column;
}
.PStoryTitle{
    font-family: Noto Sans TC;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    letter-spacing: 3px;
}
.PStoryDescription{

    margin-top: 16px;
    font-family: Noto Sans TC;
    font-weight: lighter;
    font-size: 16.5px;
    text-align: right;
    letter-spacing: 2px;
    line-height: 1.7em;
}
.PStoryImg{
    height: 320px;
    width: 480px;
    object-fit: cover;
}
.PieFooter{
    height: 100px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FPiedaxinBrandText {
    font-family: Advent Pro;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 4px;
    letter-spacing: 4px;
    color: #CC3F2B;
}
.FPiedaxinSince{
    font-family: Advent Pro;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 2px;
}


@media (max-width: 850px){
    .HBtnHandGift{ display: none }
    .HBtnContactUs{ display: none}
    .HBtnSpecialEvents{ display: none}
    .HBtnAnyCake{ display: none }
    .HBtnGroup{
        margin-right: 20px;
        width: 0;
        justify-content: flex-end;
    }
    #HBtnShoppingCart{
        margin-left: 20px;
    }
    .HBrandImg{
        margin: 0;
    }
    #hamIcon{
        display: block;
        margin-right: -64px
    }
    .PTopSellerRightBar{
        width: 45%
    }
    .PTopSellerLeftBar{
        width: 45%;
    }
    .PTopSellerS1{
        width: 220px;
        height: 220px
    }
    .PFeature1{
        width: 220px;
        height: 220px
    }

    .PTopSellerSection{
        height: 280px;
    }
    .PTopSellerImgL{
        width: 45%;
        height: 280px;
        margin-left: 24px;

    }

    .PTopSellerImgR{
        width: 45%;
        margin-right: 24px;
        height: 280px;
    }
    .PFeature2{display:none;}
    .PTopSellerUpper{justify-content: space-between;}
    .PTopSellerLower{
        height: 280px;
        justify-content: space-between;
    }
    .PBigImg{height: 240px;}
    .PBigImgPanel{height: 180px}
    .PFindL{display: none}
    .PFindR{display: none}
    .Container{height: 1595px;}
    .PStory{
        height: 640px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .PStoryImg{
        width: 480px;
    }
    .PStoryText{
        justify-content: center;
        align-items: center;
        margin-right: 0;
        height: 360px;
        width: 500px;
    }
    .PStoryTitle{
        text-align: center;
        width: 500px;
        font-size: 22px;
    }
    .PStoryDescription{
        margin-top: 32px;
        line-height: 30px;
        width: 500px;
        text-align: center;
    }
}

@media (max-width: 550px){
    .PBigImgPanel{

    }
    .PBigImgPanelText{
        margin-top:36px;
        height: 140px;
    }
    .PBigImgPanelContent{
        font-size: 32px;
    }

    .HWhiteBanner{
        justify-content: space-between;
    }
    #HBtnLogin{ margin-right: 0; }
    #HBtnShoppingCart{ display: none }
    #hamIcon{
        margin-right:0;
    }
    .HBrandImg{
        margin:0;
    }
    #HBrandImg:hover{
        margin:0;
        cursor: pointer;
    }
    .HBtnGroup{
        width: 36px;
    }
    .PTopSellerRightBar{display: none}
    .PTopSellerLeftBar{
        width: 75%
    }
    .PTopSellerS1{

    }
    .PFeature1{display: none}
    .PFeature2{display: none}
    .PTopSellerImgL{width: 100%}
    .PTopSellerImgR{display: none}
    .PTopSellerUpper{justify-content: center;}
    .PTopSellerLowerImgs{justify-content: center;}
    .PBigImg{height: 240px;}
    .PBigImgPanel{height: 180px}
    .PFindL{display: none}
    .PFindR{display: none}
    .Container{height: 1755px;}
    .PStory{
        height: 900px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .PStoryImg{
        width: 360px;
    }
    .PStoryText{
        width: 300px;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-bottom: 36px
    }
    .PStoryTitle{
        text-align: center;
        font-size: 22px;
        width: 320px;
    }
    .PStoryDescription{
        margin-top: 32px;
        line-height: 30px;
        width: 320px;
        text-align: center;
    }

}